Repository NOAA-OWP/ras2fim, pull requests merged in 2024-02, with the labels that each got.

#271 [1pt] PR: Fix for incorrect merge
  doc/CHANGELOG.md
  src/ras2fim.py
Labels: bug, high priority

#272 [1pt] PR: Update domain polygon code for ras2fim V2
  doc/CHANGELOG.md
  src/calculate_all_terrain_stats.py
  src/conflate_hecras_to_nwm.py
  src/create_model_domain_polygons.py
  src/ras2fim.py
Labels: enhancement, ras2fim_V2

#259 [2pt] PR: Add GVAL functionality to ras2fim codebase
  doc/CHANGELOG.md
  environment.yml
  tools/evaluate_ras2fim_model.py
  tools/ras2inundation.py
  tools/s3_batch_evaluation.py
Labels: enhancement

#264 [2pt] PR: Additional new model source code to system
  .gitignore
  config/source_codes.csv
  doc/CHANGELOG.md
  pyproject.toml
  src/conflate_hecras_to_nwm.py
  src/ras2fim.py
  src/ras2fim_logger.py
  src/shared_functions.py
  src/shared_variables.py
  tools/convert_ras2fim_to_recurr_validation_datasets.py
  tools/nws_ras2fim_calculate_terrain_stats.py
  tools/nws_ras2fim_check_process_status.py
  tools/nws_ras2fim_clip_dem_from_shape.py
  tools/nws_ras2fim_entwine_dem_from_shp.py
  tools/nws_ras2fim_kill_idle_ras_servivce.py
  tools/nws_ras2fim_post_frequency_grid.py
  tools/nws_ras2fim_ratingcurve_compare_plot.py
  tools/nws_ras2fim_terrain_AWS_tiles.py
  tools/nws_ras2fim_terrain_Iowa.py
  tools/nws_ras2fim_terrain_Texas.py
  tools/nws_ras2fim_terrain_USGS.py
  tools/nws_ras2fim_terrain_entwine.py
  tools/ras_unit_to_s3.py
  tools/s3_get_models.py
  tools/s3_model_mgmt.py
  tools/s3_search_tool.py
  tools/s3_shared_functions.py
Labels: enhancement, ras2fim_V2

#282 [2pt] PR: Dev v2 - development of 2ndpass flow rating curves
  doc/CHANGELOG.md
  src/create_fim_rasters.py
  src/create_rating_curves.py
  src/worker_fim_rasters.py
Labels: ras2fim_V2

#281 [1pt] PR: Create a dissolved domain polygon for conflated RAS models
  doc/CHANGELOG.md
  src/create_model_domain_polygons.py
  src/ras2fim.py
Labels: enhancement, ras2fim_V2

#278 [1pt] PR: Deprecate simplify fim rasters module
  doc/CHANGELOG.md
  src/ras2fim.py
  src/shared_variables.py
  src/simplify_fim_rasters.py
Labels: enhancement, ras2fim_V2

#286 [1pt] PR: Update terrain stats module for V2
  doc/CHANGELOG.md
  src/calculate_all_terrain_stats.py
  src/ras2fim.py
Labels: enhancement, ras2fim_V2

#277 [3pt] PR: new ras2release tool
  .gitignore
  doc/CHANGELOG.md
  src/conflate_hecras_to_nwm.py
  src/create_fim_rasters.py
  src/ras2fim.py
  src/ras2fim_logger.py
  src/reformat_ras_rating_curve.py
  src/shared_functions.py
  src/shared_variables.py
  tools/acquire_and_preprocess_3dep_dems.py
  tools/evaluate_ras2fim_model.py
  tools/extend_huc8_domain.py
  tools/ras2inundation.py
  tools/ras2release.py
  tools/ras_unit_to_s3.py
  tools/s3_batch_evaluation.py
  tools/s3_get_models.py
  tools/s3_model_mgmt.py
  tools/s3_search_tool.py
  tools/s3_shared_functions.py
Labels: enhancement, ras2fim_V2

#296 [1pt] PR: creates v2 geocurves
  doc/CHANGELOG.md
  src/create_geocurves.py
  src/create_rating_curves.py
  src/ras2fim.py
  src/shared_variables.py
Labels: ras2fim_V2

#299 [1pt] PR: Dev update rc reformat v2
  doc/CHANGELOG.md
  src/create_geocurves.py
  src/create_rating_curves.py
  src/ras2fim.py
  src/ras2fim_logger.py
  src/reformat_ras_rating_curve.py
  src/shared_functions.py
  src/shared_variables.py
  tools/ras2inundation.py
  tools/ras2release.py
  tools/ras_unit_to_s3.py
  tools/s3_model_mgmt.py
  tools/s3_shared_functions.py
Labels: high priority, ras2fim_V2

#302 [1pt] PR: Fix a couple of columns for reformat csv output
  doc/CHANGELOG.md
  src/reformat_ras_rating_curve.py
Labels: bug, ras2fim_V2

#295 [1pt] PR: new get unit inputs tool
  config/s3_unit_download_files.lst
  doc/CHANGELOG.md
  src/clip_dem_from_shape.py
  src/ras2fim.py
  src/shared_variables.py
  tools/acquire_and_preprocess_3dep_dems.py
  tools/run_unit_benchmark_tests.py
  tools/s3_get_unit_inputs.py
Labels: enhancement, ras2fim_V2
