Repository NOAA-OWP/ras2fim, pull requests merged in 2024-01, with the labels that each got.

#230 [1pt] PR: V1 - fix a bug in ras2inundation and remove making gpkg files in create_geocurves.py
  config/r2f_config.env
  doc/CHANGELOG.md
  src/create_geocurves.py
  src/ras2fim.py
  src/ras2inundation.py
Labels: bug, ras2fim

#231 [1pt] PR: V2 - fix a bug in ras2inundation.py and remove making gpkg files in create_geocurves.py
  config/r2f_config.env
  doc/CHANGELOG.md
  src/clip_dem_from_shape.py
  src/create_geocurves.py
  src/ras2fim.py
  tools/ras2inundation.py
Labels: bug, ras2fim_V2

#232 [1pt] PR: Create tool to acquire/processs ras2fim DEMs
  doc/CHANGELOG.md
  pyproject.toml
  src/ras2fim.py
  src/ras2fim_logger.py
  src/shared_functions.py
  src/shared_validators.py
  src/shared_variables.py
  tools/acquire_and_preprocess_3dep_dems.py
  tools/extend_huc8_domain.py
  tools/get_models_by_catalog.py
  tools/ras_unit_to_s3.py
  tools/s3_model_mgmt.py
  tools/s3_shared_functions.py
Labels: enhancement, ras2fim_V2

#233 [1pt] PR: Creating rating curves for nwm feature-ids
  doc/CHANGELOG.md
  src/conflate_hecras_to_nwm.py
  src/create_src_depthgrids_4fids.py
  src/r2f_errors.py
  src/worker_fim_rasters.py
Labels: ras2fim_V2

#250 [1pt] Catchup on Linting
  doc/CHANGELOG.md
  src/calculate_all_terrain_stats.py
  src/clip_dem_from_shape.py
  src/conflate_hecras_to_nwm.py
  src/convert_tif_to_ras_hdf5.py
  src/create_fim_rasters.py
  src/create_geocurves.py
  src/create_model_domain_polygons.py
  src/create_shapes_from_hecras.py
  src/create_src_depthgrids_4fids.py
  src/simplify_fim_rasters.py
  src/worker_fim_rasters.py
  tools/acquire_and_preprocess_3dep_dems.py
  tools/ras2inundation.py
  tools/s3_model_mgmt.py
Labels: enhancement, high priority, ras2fim_V2

#253 [1pt] PR: fix the stream direction bug
  doc/CHANGELOG.md
  src/create_shapes_from_hecras.py
Labels: bug, ras2fim_V2

#247 [1pt] PR: Connect worker to create-fim_rasters.py
  doc/CHANGELOG.md
  src/ProjectStandardText01.txt
  src/create_fim_rasters.py
  src/create_src_fimrasters_4fids.py
  src/ras2fim.py
  src/shared_variables.py
  src/worker_fim_rasters.py
Labels: bug, enhancement, ras2fim_V2

#256 [1pt] PR: Update Step 3 clip dem from shape
  doc/CHANGELOG.md
  src/clip_dem_from_shape.py
  src/conflate_hecras_to_nwm.py
  src/create_fim_rasters.py
  src/create_src_fimrasters_4fids.py
  src/get_usgs_dem_from_shape.py
  src/ras2fim.py
  src/ras2fim_logger.py
  src/shared_functions.py
  src/shared_variables.py
  src/worker_fim_rasters.py
  tools/extend_huc8_domain.py
  tools/s3_model_mgmt.py
Labels: enhancement, high priority, ras2fim_V2

#266 [1pt] PR: Missing conflated models
  doc/CHANGELOG.md
  src/conflate_hecras_to_nwm.py
  src/create_rating_curves.py
  src/ras2fim.py
  src/worker_fim_rasters.py
Labels: bug, ras2fim_V2

#263 [1pt] PR: Fixed some folder names and pathing
  doc/CHANGELOG.md
  src/calculate_all_terrain_stats.py
  src/clip_dem_from_shape.py
  src/conflate_hecras_to_nwm.py
  src/create_fim_rasters.py
  src/create_geocurves.py
  src/create_rating_curves.py
  src/create_shapes_from_hecras.py
  src/ras2fim.py
  src/ras2fim_logger.py
  src/reformat_ras_rating_curve.py
  src/shared_variables.py
  src/simplify_fim_rasters.py
  tools/hash_compare.py
  tools/run_ras2rem.py
Labels: bug, enhancement, high priority, ras2fim_V2
